<h2>Choose a Plan</h2>
<form></form>
<ul class="plan-list">
	{{#each plans}}
		<li>
			<input type="radio" name="plan_id" data-id="{{id}}">
			<h3>{{name}}</h3>
			<p>${{amount}} a {{interval}}</p>
		</li>	
	{{/each}}
	<li>
		<input type="radio" name="plan_id" data-id="{{id}}" data-none="true">
		<h3>No Thanks</h3>
		<p>You can always signup for a plan later on.</p>
	</li>
</ul>
<a href="#" class="pure-button alert submit-plan">Next</a>

