<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='//fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/main.css' rel='stylesheet' type='text/css'>
  <title>{{{this.portal_title}}}</title>
  <script> var _options = {{{json this}}}; </script>
</head>
<body id="site">
	<header>
		<h1>
      <a href="{{{this.portal_url}}}">{{{this.portal_title}}}</a>
		</h1>
		<a href="" class="login-switch">Already have an Account?</a>
	</header>
	<div class="clearfix"></div>
	{{{body}}}
	<div class="clearfix"></div>
	<footer>
  <p class="signup-secure"> You might notice that you have changed domains. Thats alright you're still on a domain managed by <a href="{{{this.portal_url}}}">{{{this.portal_title}}}</a>. We just pushed you to this domain because it is secure and security is key when passing sensitive data. Questions? contact <a href="mailto:{{{this.portal_email}}}">{{{this.portal_email}}}</a></p>
	</footer>
	<script 
		data-main="/javascripts/main.js" 
		src="/javascripts/libs/require.js"></script>
</body>
</html>
